<nav id="iheader" class="clear">
    <div class="container clear">
        <img id="iheader-logo" class="fl" src="https://www.newsteer.com/images/steer-logo.png" alt="schoolinn">

        <ul class="nav-bar fr clear">
            <li>
                <a [routerLink]="['/index']">程序猿</a>
            </li>
            <li>朋友圈</li>
            <li>
                <a [routerLink]="['/questions']">问题社区</a>
            </li>
            <li>语言分类</li>
            <li>
                <a [routerLink]="['/about']">关于我们</a>
            </li>
        </ul>
    </div>
</nav>