<app-iheader></app-iheader>

<div class="main clear">
    <div class="user-l">
        <div class="avatar">
            <a class="image">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/2.png" alt="">
            </a>

            <div class="sex male"><i class="male icon"></i></div>

            <h4 class="name">Devon</h4>

            <button class="fork">关注</button>

            <button class="chart">聊一聊</button>
        </div>
    </div>

    <div class="user-r fr">
        <!-- 简历 -->
        <div class="panel">
            <h3 class="header">个人介绍
                <a href="http://support.proginn.com/outsource/coder-sign/" target="_blank"><i class="help icon popup" data-position="bottom right" data-content="帮助"></i></a>
            </h3>
            <div class="overflowhidden editor-style content" style="font-size: 14px;color:#2b303c;line-height:26px;">
                <p><b>Ø</b>熟悉C++/JAVA服务端编程，具有多线程和网络编程经验，熟悉分布式、缓存、消息队列等机制；善于优化系统的不足，对系统的不断优化有着坚持不懈的精神；熟悉Spring，Struts，Netty，Nginx开源框架； </p>
                <p><b>Ø</b>熟练使用各类工具，如sar,top,iostat,vmstat,tcpdump,jmeter,wireshark等；善于编写项目中定制的性能测试工具；</p>
                <p><b>Ø</b>熟练使用主流组件，如redis,mongodb,zookeeper, rocketmq等；</p>
                <p>Ø熟悉Unix/Linux系统及oracle/mysql 数据库，熟悉shell/awk/sed，TCP/IP，HTTP协议； </p>
                <p><b>Ø</b><b>具备大型系统的开发运维经验、熟悉多种主流架构，对高并发场景遇到的问题有较丰富的处理经验。</b><br></p>
            </div>

        </div>

        <!-- 工作 -->
        <div class="panel proginn-work-history">
            <h3 class="header">工作经历
            </h3>
            <div class="history-list">
                <ul class="J_Works">
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2016-10-01 - 至今</span><span>中国移动</span><span>架构师</span>
                        </p>
                        <p class="summary">负责新系统的架构设计，解决现有系统的并发问题及遇到的各种问题</p>
                    </li>
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2014-10-01 - 2016-09-01</span><span>阿里钉钉事业部</span><span>Java资深研发</span>
                        </p>
                        <p class="summary">负责钉钉服务端的技术架构及开发，确保系统的高可靠性和千万用户量同时在线请求。</p>
                    </li>
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2009-08-31 - 2014-09-18</span><span>亚信科技(中国）有限公司</span><span>高级后端工程师</span>
                        </p>
                        <p class="summary">先后负责中国移动短信网关系统研发、广东移动计费系统维护工作、广东移动BOSS接口开发维护、项目管理协调工作。</p>
                    </li>
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2007-07-02 - 2009-08-13</span><span>广州南天电脑系统有限公司</span><span>软件工程师</span>
                        </p>
                        <p class="summary">负责中国建设银行、四川省农信银行、广东省邮政储蓄等银行系统开发工作。</p>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 教育 -->
        <div class="panel">
            <h3 class="header">教育经历</h3>
            <div class="history-list">
                <ul class="J_Works">
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2009-09-01 - 2012-07-01</span><span>华南理工大学</span><span>计算机科学与技术</span><span>硕士研究生</span>
                        </p>
                        <p class="summary">跟随导师实现仓储管理系统</p>
                    </li>
                    <li>
                        <i class="dot"></i>
                        <p class="title"><span>2003-9 - 2007-7</span><span>广东工业大学</span><span>计算机科学与技术</span><span>本科</span>
                        </p>
                        <p class="summary">多个学期获得奖学金</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 技能 -->
        <div class="panel">
            <h3 class="header">技能</h3>
            <div class="content">
                <div class="skill-list">
                    <div class="skill">
                        <div class="name">
                            C++ </div>
                        <div class="progress">
                            <div class="level-3"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="name">
                            Linux </div>
                        <div class="progress">
                            <div class="level-4"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="name">
                            Redis </div>
                        <div class="progress">
                            <div class="level-4"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="name">
                            SQL </div>
                        <div class="progress">
                            <div class="level-4"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="name">
                            MongoDB </div>
                        <div class="progress">
                            <div class="level-4"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="name">
                            Java </div>
                        <div class="progress">
                            <div class="level-5"></div>
                        </div>
                    </div>
                </div>
                <div class="level-ruler clear">
                    <div class="level-1"></div>
                    <div class="level-2"></div>
                    <div class="level-3"></div>
                    <div class="level-4"></div>
                    <div class="level-5"></div>
                </div>
                <div class="level-label clear">
                    <div class="level-0">0</div>
                    <div class="level-1">1</div>
                    <div class="level-2">2</div>
                    <div class="level-3">3</div>
                    <div class="level-4">4</div>
                    <div class="level-5">5</div>
                </div>
            </div>
        </div>

        <!-- 作品 -->
        <div class="overflowhidden panel">
            <h3 class="header">作品
            </h3>
            <div class="content">
                <div class="works">
                    <div class="work clear">
                        <div class="right">
                            <div class="clear">
                                <div class="title">
                                    <a href="http://www.chuanying360.com/" target="_blank" rel="external nofollow">基于GEO摇一摇匹配用户</a>
                                </div>
                                <div class="duty">后台开发组长</div>
                            </div>
                            <div class="description">
                                根据用户摇的GEO位置匹配出同一时间摇的用户 </div>
                            <div class="image-list">
                                <ul>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a78136f26c6a/a6fb23acd96854ad7a4c6925559470be.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a78136f26c6a/a6fb23acd96854ad7a4c6925559470be.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a7813bc6e14c/06d58f01b6d1cefef2d0c100ec185757.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a7813bc6e14c/06d58f01b6d1cefef2d0c100ec185757.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="work clear">
                        <div class="right">
                            <div class="clear">
                                <div class="title">
                                    <a href="http://addon.discuz.com/?@addon_weixin_pack_spinwin.plugin" target="_blank" rel="external nofollow">微信大转盘后台</a>
                                </div>
                                <div class="duty">后台主程</div>
                            </div>
                            <div class="description">
                                各类大转盘抽奖后台的支撑，比较核心的是抽奖概率的算法 </div>
                            <div class="image-list">
                                <ul>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a78106e90ebd/8e6b47782ad17622b905fa2b380b7e0c.jpg" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a78106e90ebd/8e6b47782ad17622b905fa2b380b7e0c.jpg!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a781071cf2c2/739bb470ccf7b36bfe289297098ab938.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a781071cf2c2/739bb470ccf7b36bfe289297098ab938.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a78109c62a2f/c6b7315b1bec191f879e6c9181617a4b.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a78109c62a2f/c6b7315b1bec191f879e6c9181617a4b.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="work clear">
                        <div class="right">
                            <div class="clear">
                                <div class="title">
                                    <a href="http://www.ccb.com/cn/corporate/institution/salaryagent.html" target="_blank" rel="external nofollow">银行支付转账(统发工资)</a>
                                </div>
                                <div class="duty">软件工程师</div>
                            </div>
                            <div class="description">
                                针对不同企业统发工资，快速支撑企业 </div>
                            <div class="image-list">
                                <ul>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e58b0f3d/bc2e886e9055f77e0adcb772a20eed8e.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e58b0f3d/bc2e886e9055f77e0adcb772a20eed8e.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e5be75b7/f2b6d54191fc170626f16e3c99ff9469.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e5be75b7/f2b6d54191fc170626f16e3c99ff9469.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                    <li>
                                        <a class="J_ImgPop" href="https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e5ebbb10/85814b44fb001bc5cea465e8b86697a5.png" style="display: block;width: 100%;height: 100%;background: url('https://programmerinnfile.b0.upaiyun.com/default/147742/5a780e5ebbb10/85814b44fb001bc5cea465e8b86697a5.png!mediumicon') center center;background-size: cover;"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>