<app-iheader></app-iheader>

<div class="main clear">

    <div class="inn-user-filter clear">
        <div class="filter-box clear">
            <span class="filter-title">角色</span>
            <div class="filter-content">
                <div class="list clear">
                    <a class="" href="">全部</a>
                    <a href="" class="" track="373filter,role">产品经理</a>
                    <a href="" class="" track="373filter,role">设计师</a>
                    <a href="" class="on" track="373filter,role">前端工程师</a>
                    <a href="" class="" track="373filter,role">移动端工程师</a>
                    <a href="" class="" track="373filter,role">小程序</a>
                    <a href="" class="" track="373filter,role">游戏工程师</a>
                    <a href="" class="" track="373filter,role">后端工程师</a>
                    <a href="" class="" track="373filter,role">测试</a>
                    <a href="" class="" track="373filter,role">DBA工程师</a>
                    <a href="" class="" track="373filter,role">运维工程师</a>
                    <a href="" class="" track="373filter,role">其他</a>
                </div>
            </div>
            <span class="filter-more J_FilterMore">更多</span>
        </div>

        <div class="filter-box clear">
            <span class="filter-title">地点</span>
            <div class="filter-content">
                <div class="list clearfix">
                    <a class="on all-item" href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3">全部</a>
                    <a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1000" class="" track="373filter,city">北京</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1018" class=""
                        track="373filter,city">上海</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1293" class="" track="373filter,city">深圳</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1178"
                        class="" track="373filter,city">杭州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1292" class="" track="373filter,city">广州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1348"
                        class="" track="373filter,city">成都</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1261" class="" track="373filter,city">武汉</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1165"
                        class="" track="373filter,city">南京</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1401" class="" track="373filter,city">西安</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1055"
                        class="" track="373filter,city">重庆</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1278" class="" track="373filter,city">长沙</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1207"
                        class="" track="373filter,city">厦门</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1243" class="" track="373filter,city">郑州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1037"
                        class="" track="373filter,city">天津</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1226" class="" track="373filter,city">济南 </a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1169"
                        class="" track="373filter,city">苏州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1189" class="" track="373filter,city">合肥</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1206"
                        class="" track="373filter,city">福州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1227" class="" track="373filter,city">青岛</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1130"
                        class="" track="373filter,city">大连</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1129" class="" track="373filter,city">沈阳</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1095"
                        class="" track="373filter,city">石家庄</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1294" class="" track="373filter,city">珠海</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1215"
                        class="" track="373filter,city">南昌</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1166" class="" track="373filter,city">无锡</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1106"
                        class="" track="373filter,city">太原</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1152" class="" track="373filter,city">哈尔滨</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1313"
                        class="" track="373filter,city">南宁</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1179" class="" track="373filter,city">宁波</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1378"
                        class="" track="373filter,city">昆明</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1308" class="" track="373filter,city">东莞</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1369"
                        class="" track="373filter,city">贵阳</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=600" class="" track="373filter,city">美国</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1180"
                        class="" track="373filter,city">温州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1143" class="" track="373filter,city">长春</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1297"
                        class="" track="373filter,city">佛山</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1168" class="" track="373filter,city">常州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1117"
                        class="" track="373filter,city">呼和浩特</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1411" class="" track="373filter,city">兰州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1438"
                        class="" track="373filter,city">乌鲁木齐</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1309" class="" track="373filter,city">中山</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1295"
                        class="" track="373filter,city">汕头</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1327" class="" track="373filter,city">海口</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1232"
                        class="" track="373filter,city">烟台</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1181" class="" track="373filter,city">嘉兴</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1221"
                        class="" track="373filter,city">赣州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1183" class="" track="373filter,city">绍兴</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1210"
                        class="" track="373filter,city">泉州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1479" class="" track="373filter,city">香港</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1167"
                        class="" track="373filter,city">徐州</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1315" class="" track="373filter,city">桂林</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;city_op=1245"
                        class="" track="373filter,city">洛阳</a>
                </div>
            </div>
            <span class="filter-more J_FilterMore">更多</span>
        </div>

        <div class="filter-box clear">
            <span class="filter-title">行业</span>
            <div class="filter-content">
                <div class="list clearfix">
                    <a class="on all-item" href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3">全部</a>
                    <a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=1" class="" track="373filter,industry">电子商务</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=8" class=""
                        track="373filter,industry">社交</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=16" class="" track="373filter,industry">人工智能</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=27"
                        class="" track="373filter,industry">媒体门户</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=33" class="" track="373filter,industry">工具软件</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=42"
                        class="" track="373filter,industry">消费生活</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=54" class="" track="373filter,industry">金融</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=64"
                        class="" track="373filter,industry">医疗健康</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=77" class="" track="373filter,industry">企业服务</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=99"
                        class="" track="373filter,industry">数字娱乐</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=106" class="" track="373filter,industry">在线教育</a><a href="https://www.proginn.com/search?keyword=Devon&amp;occupation_op=3&amp;industry_id=140"
                        class="" track="373filter,industry">其它</a>
                </div>
            </div>
            <span class="filter-more J_FilterMore">更多</span>
        </div>
    </div>

    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>



    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>


    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>


    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>

    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>


    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>


    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>


    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>

    <div class="item-user clear">
        <div class="user-avatar fl">
            <a href="">
                <img src="https://innsta.b0.upaiyun.com/image/usericon/5.png" alt="">
                <p class="user-name">Devon</p>
            </a>
        </div>
        <div class="user-info fl clear">
            <div class="title">
                <span>阿里巴巴</span>
                <span>资深前端工程师</span>
            </div>

            <div class="description clear">
                <p class="desc-item">
                    <em>技能:</em>
                    <span>PHP，NodeJS，Groovy，HTML &amp; CSS，Grunt Gulp，Javascript，Python，Photoshop</span>
                </p>
                <p class="desc-item">
                    <em>作品:</em>
                    <span>gulp-html-extend，无后台博客，Chrome RSS Reader，个人主页</span>
                </p>
            </div>
        </div>
    </div>

</div>