<app-iheader></app-iheader>

<div class="main clear">

    <div id="mainbar" class="fl">
        <div class="subheader">
            <h1 id="h-all-questions">全部问题</h1>


            <div id="tabs">
                <a href="/questions?sort=newest">最热问答</a>
                <a class="youarehere " href="/questions?sort=featured">热门回答</a>
                <a href="/questions?sort=frequent">等待回答</a>
                <a href="/questions?sort=votes">最多关注</a>
                <a href="/questions?sort=active">本月热门</a>
            </div>
        </div>

        <div class="question-stream">

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

            <div class="que-item">
                <p class="que-it">会说话的鱼 10 分钟前提问</p>
                <h5>Objective-C里面UIImageView设置UIViewContentModeScaleAspectFill问题</h5>
                <div class="que-tags clear">
                    <span class="fl">java</span>
                    <span class="fl">html</span>
                    <span class="fl">css3</span>
                </div>
            </div>

        </div>

    </div>

    <div class="widget fr">
        <h5>排行榜</h5>
        <ol id="usersDaily" class="widget-top10">

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/364/641/3646419263-5a804c7ce2875_big64">
                <a href="/u/hfhan" class="ellipsis">
                    hfhan
                </a>
                <span class="text-muted pull-right">+208</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/161/376/1613760701-58ec49191137e_big64">
                <a href="/u/wangwenlin" class="ellipsis">
                    小蜗牛
                </a>
                <span class="text-muted pull-right">+178</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/380/923/3809239748-59bfa75261934_big64">
                <a href="/u/krun" class="ellipsis">
                    krun
                </a>
                <span class="text-muted pull-right">+160</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/238/347/2383473750-5a90b503ca56b_big64">
                <a href="/u/kaikai_5a484b1131e4c" class="ellipsis">
                    楷楷
                </a>
                <span class="text-muted pull-right">+132</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/342/302/3423029833-5a3396fe225d0_big64">
                <a href="/u/xiaoyi_5a1e6a7106338" class="ellipsis">
                    小翼
                </a>
                <span class="text-muted fr">+120</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/318/831/318831769-565ea7114937e_big64">
                <a href="/u/array_huang" class="ellipsis">
                    array_huang
                </a>
                <span class="text-muted pull-right">+107</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://static.segmentfault.com/v-5a7c12fe/global/img/user-64.png">
                <a href="/u/zuch" class="ellipsis">
                    zuch
                </a>
                <span class="text-muted pull-right">+94</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/741/459/741459108-5a14eb4c1da4b_big64">
                <a href="/u/huolang_5a14e07d2f2ff" class="ellipsis">
                    火狼
                </a>
                <span class="text-muted pull-right">+84</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/343/796/3437963210-5a93d65a2f94f_big64">
                <a href="/u/liyi_5a93b19508f95" class="ellipsis">
                    李毅
                </a>
                <span class="text-muted pull-right">+82</span>
            </li>

            <li class="text-muted">
                <img class="avatar-24" src="https://sfault-avatar.b0.upaiyun.com/622/491/622491372-599ef8f7e4c79_big64">
                <a href="/u/lishisan" class="ellipsis">
                    李十三
                </a>
                <span class="text-muted pull-right">+82</span>
            </li>

        </ol>
    </div>

</div>