/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #767c84;
    font-weight: 400;
    text-decoration: none;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

img {
    vertical-align: middle;
    border: 0;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.main {
    padding-top: 80px !important;
}