.main {
    padding-bottom: 150px;
    .bdec {
        font-size: 14px;
        color: #adadad;
        line-height: 30px;
        margin-bottom: 20px;
    }
    h1 {
        text-align: center;
        font-size: 18px;
        display: block;
        margin-bottom: 40px;
    }
    width: 950px;
    margin: 0 auto;
    padding-top: 80px;
    .topics {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        a {
            flex: 0 1 220px;
            padding: 150px 25px 15px;
            margin: 0 auto 25px;
            position: relative;
            text-align: center;
            min-height: 265px;
            min-width: 160px;
            &:hover h3 {
                transform: translate3d(0, -94px, 0);
            }
            &:hover .detail {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-duration: .2s;
                transition-timing-function: ease;
            }
            &:hover:before {
                transform: translate3d(0, -38px, 0) scale3d(.5, .5, 1);
            }
            // &:after {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     content: '';
            //     border: 1px solid #e6ebf2;
            //     border-radius: 4px;
            //     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
            //     transition: all .4s cubic-bezier(.155, 1.105, .295, 1.12);
            // }
            h3 {
                font-size: 16px;
                position: absolute;
                font-weight: 500;
                top: 195px;
                left: 0;
                right: 0;
                color: #4c555a;
                transition: transform .4s cubic-bezier(.155, 1.105, .295, 1.12);
            }
            .detail {
                opacity: 0;
                position: relative;
                transform: translate3d(0, 35px, 0);
                transition: opacity .1s linear, transform .1s linear;
                p {
                    line-height: 20px;
                    font-size: 13px;
                    letter-spacing: -.01em;
                    padding: 0 13px;
                    color: #576070;
                }
            }
        }
        .sales:before {
            background-position: left -120px;
        }
        .press:before {
            background-position: left -240px;
        }
        .partnerships:before {
            background-position: left -360px;
        }
        a:before {
            background: no-repeat top left url(https://ionicframework.com/img/contact/contact-icons.png);
            background-size: 120px;
            width: 120px;
            height: 120px;
            content: '';
            position: absolute;
            top: 24px;
            left: calc(50% - 55px);
            transition: transform .4s cubic-bezier(.155, 1.105, .295, 1.12);
        }
    }
    .about-author {
        img {
            display: block;
            width: 180px;
            height: 180px;
            border-radius: 100%;
        }
        .author-dec {
            width: calc( 100% - 210px);
            margin-left: 30px;
            h3 {
                margin-bottom: 10px;
            }
            ul {
                width: 100%;
                li {
                    width: 45%;
                    float: left;
                }
            }
            p {
                font-size: 14px;
                line-height: 26px;
                i {
                    margin-right: 16px;
                    font-size: 22px;
                    line-height: 40px;
                }
                .icon-zhihu {
                    color: rgb(0, 108, 226);
                }
                .icon-github {
                    color: rgb(23, 21, 21);
                }
                .icon-facebook {
                    color: rgb(60, 89, 155);
                }
                .icon-twitter {
                    color: rgb(94, 170, 222);
                }
            }
        }
    }
}